.html {
    width: 1080px;
    height: 1920px;
    background-color: #ede6d8;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #f6f8d9;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
